<footer class="footer">
    <div class="footer-links">
        <div class="footer-links_columnas">
            <h4>Otras secciones</h4>
            <a href="/nosotros">Conócenos</a>
        </div>
        <div class="footer-links_columnas">
            <h4>¿Necesitas soporte?</h4>
            <a href="/faqs">Soporte técnico</a>
            <a href="/condiciones-compra">Condiciones de Compra</a>
        </div>
        <div class="footer-links_columnas">
            <h4>Redes sociales</h4>
            <span class="footer-links_redes">
                <a href="https://www.linkedin.com/company/samsunglatin/" target="_blank">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="https://www.youtube.com/user/SamsungLatin" target="_blank">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="https://x.com/SamsungLatin/" target="_blank">
                    <i class="fa-solid fa-xmark"></i>
                </a>
                <a href="https://www.facebook.com/SamsungLatin" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/SamsungLatin/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </span>
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 1995-2020 SAMSUNG. Todos los derechos reservados.</p>
        <div class="footer-copyright_links">
            <a href="/accesibilidad">Ayuda para accesibilidad</a>
            <a href="/privacidad">Privacidad</a>
            <a href="/legal">Legal</a>
        </div>
    </div>
</footer>