<header class="header-admin">
    <div class="logo-container">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/014/018/566/small_2x/samsung-logo-on-transparent-background-free-vector.jpg"
            alt="Samsung Logo">
    </div>
    <h1>ADMIN DASHBOARD</h1>
</header>