<div class="vwrap">
    <div class="vmove">
        <div class="vslide">Compara hasta en 36 cuotas a 0% de interés con BAC</div>
        <div class="vslide">Descubre los nuevos Galaxy Fold6 | Z Flip6</div>
        <div class="vslide">Compra ahora con ENVÍO GRATIS entre 24 y 72h</div>
        <div class="vslide">Proyecto grupo 4</div>
    </div>
</div>
