<nav class="nav-admin">
    <a href="/admin/admin-dashboard">Inicio</a>
    <a href="/admin/categorias">Administrar categorías</a>
    <a href="/admin/productos">Administrar productos</a>
    <form class="box-center_flex" action="/usuario/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit">Cerrar sesión</button>
    </form>
</nav>