<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
        <h1>Se presentó un error!</h1>
        <p>Estamos trabajando en ello. Intente en un momento</p>

        <%- include('includes/end.ejs') %>