body:before {
    content: "";
    background: #f1f1f1;
    position: absolute;
    top: -40px;
    left: -50%;
    width: -webkit-fill-available;
    height: 650px;
    z-index: -2;
}

.centered {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-container {
    display: flex;
    max-width: 800px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-top: 200px;
}


.product-left {
    display: flex;
    margin-right: 24px;
    width: 57%;
    justify-content: center;
}

.product-left img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 20px;
}


.product-right {
    display: flex;
    flex-direction: column;
    width: 53%;
    border: 1px solid #e4e4e4;
    border-radius: 24px;
    padding: 32px;
    background-color: white;
}

.product-right h1 {
    margin: 0;
}

.price {
    font-size: 2em;
    color: #333;
    font-weight: bold;
    color: #2089ff;
    border-bottom: 1px solid #C1C1C1;
    margin-top: 24px;
    margin-bottom: 16px;;
    padding-bottom: 16px
}

.card-bottom {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-bottom p, .card-bottom ul {
    margin: 0;
}

.card-bottom form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.quantity-selector {
    display: flex;
    gap: 8px;
}


.btn {
    background: #2089ff;
  color: #ffffff !important;
  text-transform: uppercase;
  border: none;
  padding: 10px 20px;
  letter-spacing: 2.4px;
  border-radius: 100px;
  cursor: pointer;
}