<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/producto.css">

    </head>

    <body>
        <%- include('../includes/header-publicidad.ejs') %>
            <%- include('../includes/navigation.ejs') %>
                <main>
                    <section>
                        <p>Accesibilidad</p>
                        <h1>Tecnología para empoderarte</h1>
                        <h2>Tecnología inclusiva que te ayuda a alcanzar tus metas</h2>
                        <h3>Visión</h3>
                        <p>Obtén información sobre nuestras funciones de asistencia de visibilidad, como TalkBack, Tamaño y estilo de fuente, Ajuste de color y Ampliación.</p>
                        <h3>Audición</h3>
                        <p>Obtén información sobre nuestras funciones de asistencia para la audición, como Transcripción instantánea y Notificaciones de sonido, y el Equilibrio de sonido izquierdo/derecho.</p>
                        <h3>Movilidad</h3>
                        <p>Obtén información sobre nuestras funciones de asistencia de movilidad, como el Interruptor universal y la Ajustes táctiles.</p>
                        <h3>Cognición</h3>
                        <p>Obtén información sobre nuestras funciones de asistencia cognitivas, como Control de interacción y Recordar curso/modo de uso frecuente.</p>
                        <h3>Un vistazo</h3>
                        <p>Presentamos nuestras funciones claves de accesibilidad</p>
                        <h2>Un vistazo</h2>
                        <p>Presentamos nuestras funciones claves de accesibilidad</p>
                        <h4>TalkBack</h4>
                        <p>Proporciona comentarios orales para ayudar a comprender el contenido en la pantalla.</p>
                        <h4>Guía de voz</h4>
                        <p>Para las personas ciegas, la guía de voz hace que el Smart TV lea los elementos que se muestran en la pantalla.</p>
                        <h4>TalkBack en SmartThings para electrodomésticos y servicios para el hogar</h4>
                        <p>Utiliza los electrodomésticos y servicios para el hogar conectados a SmartThings con TalkBack, verificado por personas ciegas.</p>
                        <h3>Sitio web accesible para todos</h3>
                        <p>Nos esforzamos por hacer que los servicios web de samsung sean accesibles para todos los usuarios</p>
                        <h2>Asistencia al cliente de accesibilidad</h2>
                        <p>Estamos aquí para ayudarte y mejorar tu experiencia de accesibilidad</p>
                        <h4>Servicio al Cliente</h4>
                        <p>Proporcionamos información relacionada con la accesibilidad que puede ayudarte a utilizar plenamente nuestros productos y servicios.</p>
                        <h4>Comunidad Samsung Members</h4>
                        <p>Descubre consejos y trucos útiles relacionados con la accesibilidad de la comunidad de miembros.</p>
                    </section>
                </main>
                <%- include('../includes/end.ejs') %>