<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/producto.css">

    </head>

    <body>
        <%- include('../includes/header-publicidad.ejs') %>
            <%- include('../includes/navigation.ejs') %>

                <main>
                    <section class="box-center_flex">
                        <p>Estamos aquí para ti</p>
                        <h1>Bienvenidos al Soporte de la Tienda Online</h1>
                    </section>
                    <section>
                        <h2>Preguntas Frecuentes</h2>
                        <h3>Cuenta Samsung</h3>
                        <h4>¿Cómo creo una cuenta de Samsung? </h4>
                        <p>Crea una cuenta rápidamente haciendo clic en "Registrarme" y luego en "Crear cuenta" en el cuadro emergente que aparece a continuación.</p>
                        <h4>¿Cuáles son los beneficios de crear una cuenta de Samsung? </h4>
                        <p>Al crear una cuenta podrás: Recibir notificaciones sobre ofertas y promociones, revisar el estatus de Tu Pedido.</p>
                        <h4>¿Cómo recupero mi usuario o contraseña?</h4>
                        <p>Si tienes problemas para iniciar sesión en tu cuenta, verifica que "Bloq Mayús" no esté activado, todas las contraseñas distinguen entre mayúsculas y minúsculas. Si eso no funciona, haz clic en "Buscar ID o Contraseña" y se te enviará un enlace por correo electrónico a tu dirección registrada para restablecer la contraseña.</p>
                        <h3>Productos y Órdenes</h3>
                        <h4>Olvidé ordenar algún ítem, ¿es posible agregarlo a mi orden ya pagada?</h4>
                        <p>Si desea hacer algún cambio a su orden, puede comunicarse con nuestro Equipo de Atención al Cliente. Un agente de Ventas se comunicará con su persona para ayudarle en el proceso.</p>
                        <h4>¿Puedo realizar una compra por teléfono?</h4>
                        <p>Por una cuestión de seguridad, no brindamos venta telefónica. Sin embargo, si necesitás asistencia con tu compra online, nuestro centro de soporte está disponible los días hábiles de 8:30 a 20:30 hs y sábados de 8 a 12hs.</p>
                        <h4>¿Cómo puedo comprobar el estado de mi pedido?
                        </h4>
                        <p>Una vez que realices la compra, recibirás notificaciones por e-mail indicando el estado de tu pedido. Si no has sido notificado o tienes alguna duda puedes contactarnos por chat o llamar a nuestro Centro de Atención al Cliente.</p>
                        <h3>Pagos y Financiación</h3>
                        <h4>¿Cómo pago las compras realizadas en la Tienda Online de Samsung?</h4>
                        <p>Podrás abonar tus compras con tarjeta de crédito o débito (VISA, Mastercard y Amex). También podrás hacerlo por transferencia bancaria.</p>
                        <h4>Ha habido un error en mi pago. ¿Qué hago ahora?</h4>
                        <p>Si cree que se ha realizado un pago erróneo, comuníquese con nuestro equipo de Servicio al Cliente y ellos estarán atentos a ayudarle y proporcionar un reembolso cuando sea necesario. Tome en cuenta que puede pasar hasta  15 días hábiles para que los reembolsos se muestren en su cuenta.</p>
                        <h4>El cobro realizado fue duplicado. ¿Cómo obtener la devolución del dinero?</h4>
                        <p>Si cree que se ha realizado un pago más de una vez, comuníquese con nuestro equipo de Servicio al cliente y ellos estarán atentos a ayudarle y proporcionar un reembolso cuando sea necesario. Necesitaremos tus datos, los de la orden y los comprobantes de duplicidad para realizar la evaluación pertinente. Tome en cuenta que puede pasar hasta 15 días hábiles para que los reembolsos se muestren en su cuenta.</p>
                        <h3>Entregas e Instalaciones</h3>
                        <h4>Envíos internacionales</h4>
                        <p>Por el momento no contamos con envíos fuera de Perú. Para realizar una compra en los países de la región, revisar e ingresar a sus respectivas webs.</p>
                        <h4>¿Cómo es el proceso de entrega de mi pedido?</h4>
                        <p>Todas las compras se entregan en la puerta del domicilio elegido por el cliente, sin excepciones. Los tiempos de envío varían según la zona y el producto adquirido.</p>
                        <h4>¿Necesito estar en casa para recibir mi entrega?</h4>
                        <p>No es necesario, puede recibir el paquete una persona autorizada mayor de edad, quien deberá presentar documento de identificación y estar apto para firmar el comprobante de la entrega. En caso de que esto no ocurra, haremos otros dos intentos de entrega más, de no poder concretarse, el producto retornará al Centro de Distribución y podría retirarlo personalmente.</p>
                    </section>
                    <section class="box-center_flex">
                        <h2>Contáctanos</h2>
                        <div class="cards-info-shop">
                            <div class="card-info">
                                <h2 class="card-info_title">Llámanos</h2>
                                <p class="card-info_p">Soporte telefónico Perú: 836-6957<br>L a V de 7:30 AM a 7:30 PM | S de 8:00 AM a 12: 00 PM</p>
                            </div>
                            <div class="card-info">
                                <h2 class="card-info_title">Chat en vivo</h2>
                                <p class="card-info_p">Chatea con nuestro Equipo de Atención al Cliente iniciando una conversación en la burbuja de chat ubicada en la esquina inferior de la pantalla.<br>L a V de 7:30 AM a 7:30 PM | S de 8:00 AM a 12: 00 PM</p>
                            </div>
                            <div class="card-info">
                                <h2 class="card-info_title">Correo electrónico</h2>
                                <p class="card-info_p">Puedes enviarnos tu consulta por email y te responderemos.<br>L a V de 7:30 AM a 7:30 PM | S de 8:00 AM a 12: 00 PM</p>
                                <p class="card-info_a">
                                    <a href="mailto:cs2@samsunglatin.store" target="_blank" title="Abrir en otra ventana: correo electrónico">Escríbenos un email</a>
                                </p>
                            </div>
                    </section>
                </main>
                <%- include('../includes/end.ejs') %>