<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/producto.css">

    </head>

    <body>
        <%- include('../includes/header-publicidad.ejs') %>
            <%- include('../includes/navigation.ejs') %>
                <main>
                    <section class="box-center_flex">
                        <h1>Legal</h1>
                    </section>
                    <section>
                        <p>Samsung agradece su visita a este sitio web y se complace en brindarle información. Recomendamos que usted imprima copias de la información que necesite, guarde los archivos en su computadora y establezca links hacia este servidor en sus propios documentos.</p>
                        <p>Sin embargo, nosotros necesitamos advertirle que existen algunas limitaciones y restricciones para los visitantes de este sitio y otros relacionados. Le pedimos que usted respete las reglas descriptas a continuación:</p>
                        <p>Este sitio contiene información que es propiedad de Samsung.</p>
                        <p>Samsung ha invertido dinero, tiempo y esfuerzos para desarrollarlos.</p>
                        <p>Dicha propiedad incluye, pero no se limita, a copyrights, marcas registradas e información sobre tecnología.</p>
                        <p>Estos son provistos en forma de textos, gráficos, audio, video, downloads (descargas), links, y códigos fuente ( en adelante "Servicios y Materiales")</p>
                        <p>Samsung retiene todos los derechos sobre dichos Servicios y Materiales.</p>
                        <p>Los Servicios y Material son provistos a los clientes de Samsung solo para su conveniencia.</p>
                        <p>Samsung no brinda ninguna licencia o derechos de propiedad sobre dichos Servicios y Materiales.</p>
                        <p>Samsung no garantiza la exactitud, lo completo, o confiabilidad de los Servicios y Materiales y otros ítems contenidos en este servidor o en cualquier otro.</p>
                        <p>Por lo tanto, usted no debe depender de los Servicios y Materiales provistos en este sitio a menos que nosotros expresamente le comuniquemos por escrito que usted puede hacerlo.</p>
                        <p>Por favor no dependa de la utilización de los Servicios y Materiales provistos en este sitio para comprar, vender, negociar o realizar transacciones con seguridad. Observe que la información proporcionada no cumple con los requisitos de cuerpos reguladores que pueden ser requerido en diversos países, incluyendo pero no limitándose a la U.S. Securities Exchange Commission. No tome, por favor, ninguna decisión sobre inversiones basada sobre Servicios y Materiales proporcionados.</p>
                        <p>EL SERVICIO Y MATERIALES SON PROPORCIONADOS POR SAMSUNG TAL COMO ESTÁN, Y SAMSUNG NIEGA EXPRESAMENTE TODAS LAS GARANTÍAS, EXPRESAS O IMPLICADAS, INCLUYENDO, PERO NO LIMITÁNDOSE, A LAS GARANTIAS DE PROVISIÓN, COMERCIALIZACIÓN Y USO PARA UN PROPÓSITO PARTICULAR CON RESPECTO A CUALQUIER SERVICIO O MATERIAL. EN NINGÚN ACONTECIMIENTO SAMSUNG SERÁ RESPONSABLE POR LOS DAÑOS DIRECTOS, INDIRECTOS, FORTUITOS, PUNITIVOS, O CONSECUENTES DE CUALQUIER CLASE RESPECTO AL USO DE LOS SERVICIOS Y MATERIALES.</p>
                        <p>La información acerca de las acciones y toda información contenida en este sitio web no constituye una oferta de Samsung de ninguna clase, ni constituye un ofrecimiento para comprar acciones.</p>
                        <p>A pesar de que usted puede descargar libremente Servicios y Materiales de este sitio y otros relacionados, Samsung retiene todos los derechos sobre todos los textos y gráficos. Usted no tiene derecho de reproducir los mismos excepto para su uso personal.</p>
                    </section>
                </main>
                <%- include('../includes/end.ejs') %>