<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/producto.css">

    </head>

    <body>
        <%- include('../includes/header-publicidad.ejs') %>
            <%- include('../includes/navigation.ejs') %>

                <main>
                    <section>
                        <p>Información de la compañia</p>
                        <h1>
                            Nuestra misión y nuestros valores
                        </h1>
                        <p>
                            Nuestra promesa consiste en trabajar con responsabilidad como una empresa líder a nivel
                            mundial.
                        </p>
                    </section>
                    <section>
                        <p>Samsung se compromete a cumplir con las leyes y las regulaciones locales, así como a aplicar
                            un código de conducta estricto y global para todos los empleados. Cree que la gestión ética
                            no solo es una herramienta para responder a los cambios rápidos en el entorno empresarial a
                            nivel mundial, sino también una forma de generar confianza con sus diversas partes
                            interesadas, lo que incluye clientes, accionistas, empleados, socios comerciales y
                            comunidades locales. Samsung tiene el objetivo de convertirse en una de las empresas más
                            éticas del mundo, por eso continúa capacitando a sus empleados y operando sistemas de
                            monitoreo, mientras pone en práctica una gestión corporativa justa y transparente.</p>
                    </section>
                    <section class="cards-info-shop">
                        <div class="card-info">
                            <h2 class="card-info_title">Nuestra misión y nuestro enfoque</h2>
                            <p class="card-info_p">Samsung sigue una filosofía empresarial simple: dedicar su talento y
                                tecnología a crear productos y servicios superiores que contribuyan a una mejor sociedad
                                global. Para lograrlo, establece un alto valor en sus personas y tecnologías.</p>
                        </div>
                        <div class="card-info">
                            <h2 class="card-info_title">Los valores que definen el espíritu de Samsung</h2>
                            <p class="card-info_p">Samsung cree que guiarse por valores sólidos es la clave para un buen
                                negocio. Por este motivo, estos valores fundamentales, junto con un código de conducta
                                riguroso, representan el núcleo de cada decisión que toma la empresa.</p>
                        </div>
                        <div class="card-info">
                            <h2 class="card-info_title">Cinco principios empresariales de Samsung</h2>
                            <p class="card-info_p">En una expresión de su compromiso con la responsabilidad social
                                corporativa como empresa líder en el mundo, Samsung Electronics anunció los “cinco
                                principios empresariales de Samsung” en 2005.</p>
                        </div>
                    </section>
                    <section class="box-center_flex">
                        <h2>Conoce a nuestro CEO</h2>
                        <img src="https://images.samsung.com/is/image/samsung/assets/latin/about-us/company-info/about-us_companyInfo_ceo_img01_pc.jpg?$570_N_JPG$"
                            alt="samsung-ceo">
                        <h3>Han, Jong Hee</h3>
                        <ul>
                            <li>Vicepresidente y director ejecutivo (desde 2022 hasta el presente)</li>
                            <li>Vicepresidente y director del sector de Device eXperience (desde 2021 hasta el presente)
                            </li>
                            <li>Presidente y director del sector de Pantallas Visuales (desde 2017 hasta 2021)</li>
                            <li>Director del equipo de Investigación y Desarrollo en el sector de Pantallas Visuales
                                (desde 2015 hasta 2017)</li>
                            <li>Director de la Oficina de Investigación y Desarrollo en el sector de Pantallas Visuales
                                (desde 2013 hasta 2015)</li>
                            <li>Director del equipo de Investigación y Desarrollo de Productos en el sector de Pantallas
                                Visuales (desde 2011 hasta 2013)</li>
                        </ul>
                    </section>
                </main>
                <%- include('../includes/end.ejs') %>