<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/producto.css">

    </head>

    <body>
        <%- include('../includes/header-publicidad.ejs') %>
            <%- include('../includes/navigation.ejs') %>
                <main>
                    <section>
                        <h1>Privacidad</h1>
                        <h2>ASPECTOS IMPORTANTES DE LA POLÍTICA GLOBAL DE PRIVACIDAD DE SAMSUNG</h2>
                        <p>Samsung Electronics Latinoamerica (Zona Libre), S.A. (referida como "Samsung Electronics",
                            "Samsung" o "nosotros" en esta política), con su casa matriz Samsung Electronics Co., Ltd en
                            Corea del Sur, sabe que la privacidad de nuestros clientes es muy importante. Queremos
                            garantizar que usted comprenda cómo recopilamos y usamos su información personal en todos
                            los dispositivos y servicios de Samsung, desde teléfonos celulares y tabletas hasta TVs,
                            aparatos domésticos, servicios en línea y mucho más.</p>
                        <p>Aunque esta Política de Privacidad se aplique a todos nuestros servicios, también le
                            brindaremos información adicional de privacidad en relación con servicios específicos cuando
                            sea necesario.</p>
                        <h3>DESCRIPCIÓN DE LA INFORMACIÓN PERSONAL</h3>
                        <p>Recopilamos información personal que usted proporciona directamente, información sobre cómo
                            utiliza nuestros servicios y información obtenidos a partir de recursos de terceros. Usamos
                            esa información para proporcionarle nuestros servicios, entender cómo los utiliza para que
                            podamos mejorar y personalizar su experiencia; y desarrollar aplicaciones, tecnologías y
                            contenidos más relevantes para nuestros clientes. También utilizamos su información personal
                            para ofrecer publicidad personalizada de acuerdo con sus intereses y conforme la ley
                            aplicable.</p>
                        <h3>USO COMPARTIDO DE SU INFORMACIÓN PERSONAL</h3>
                        <p>Podemos compartir su información personal con empresas afiliadas de Samsung Electronics, así
                            como, con empresas que prestan servicios en nombre de Samsung Electronics. También podemos
                            compartir su información personal con empresas asociadas de confianza, como proveedores de
                            servicios móviles o compañías aseguradoras, que le proveen productos y servicios que usted
                            solicita, así como información sobre productos y servicios de los que puede estar
                            interesado. Podemos, además, compartir su información personal con autoridades oficiales
                            cuando es legalmente exigido o para proteger a Samsung Electronics y a sus usuarios.</p>
                        <ol>
                            <li>
                                <a href="#inforecop">¿CUÁLES SON LAS INFORMACIONES RECOPILADAS?</a>
                            </li>
                            <li>
                                <a href="#info">¿CÓMO UTILIZAMOS SUS INFORMACIONES?</a>
                            </li>
                            <li>
                                <a href="#infocomp">¿CON QUIÉN COMPARTIMOS SUS INFORMACIONES?</a>
                            </li>
                        </ol>
                        <h2>POLÍTICA GLOBAL SAMSUNG</h2>
                        <p>Fecha de Inicio de Vigencia: 28 de diciembre de 2022</p>
                        <p>Esta Política de Privacidad Global (“Política de Privacidad” en adelante) se aplica a todos
                            nuestros dispositivos y servicios globales de Samsung, desde teléfonos celulares y tabletas
                            hasta Televisores, electrodomésticos y servicios en línea que ofrecemos a nivel global.
                            Nosotros denominaremos estos dispositivos y servicios colectivamente “los Servicios” en esta
                            Política.</p>
                        <p>Es importante que usted verifique con frecuencia si hay actualizaciones en la Política de
                            Privacidad. Podemos actualizar esta Política de Privacidad periódicamente para reflejar
                            modificaciones requeridas por la normatividad aplicable. Publicaremos un aviso en nuestro
                            sitio o en su dispositivo para notificarle de forma previa sobre modificaciones importantes
                            en nuestra Política de Privacidad e indicaremos en la parte superior de la Política de
                            Privacidad cuando fue la última vez que ésta fue modificada. Cuando aplicable, haremos todo
                            lo posible para recopilar su consentimiento a la Política de Privacidad actualizada, siempre
                            que tengamos cambios que modifiquen sustancialmente el propósito o los medios de
                            procesamiento de sus datos personales. La versión más reciente de la Política de Privacidad
                            siempre estará disponible: <a
                                href="/privacidad">Privacidad</a>.
                            Además de esta Política de Privacidad, Samsung también puede facilitarle avisos de
                            privacidad específicos relacionados a determinados productos y servicios. En el supuesto de
                            que se presente alguna contradicción entre los términos de esta Política de Privacidad y un
                            aviso de privacidad específico, prevalecerán los términos del aviso de privacidad
                            específico.</p>
                        <h3 id="inforecop">¿CUÁLES SON LAS INFORMACIONES RECOPILADAS?</h3>
                        <p>Samsung Electronics recopila sus información personal de varias formas.</p>
                        <h4>Información Proporcionada Directamente por Usted</h4>
                        <p>Algunos Servicios le permiten brindarnos la información directamente. Por ejemplo:</p>
                        <ul>
                            <li>Cuando usted crea una cuenta o perfil con nosotros, le preguntamos información como su
                                nombre, fecha de nacimiento o información de contacto como el número de teléfono y
                                dirección de correo electrónico.</li>
                            <li>Si pide un producto o servicio pagado, solicitamos su nombre, dirección, información de
                                contacto e información de envío y pago para procesar su pedido. Utilizaremos dicha
                                información para atender sus solicitudes, entregar los productos o servicios, o para
                                llevar a cabo actividades de análisis para prevenir conductas ilícitas como fraudes y
                                robos.</li>
                            <li>Para brindar respuestas cuando se ponga en contacto con el Atención al Cliente,
                                necesitamos cierta información para verificar su identidad y el producto sobre el cual
                                está consultando.</li>
                            <li>Cuando usted se comunica con nuestro equipo de Atención al Cliente o equipos de otros
                                Servicios, sus comunicaciones son transmitidas por medio de nuestros sistemas.</li>
                            <li>Si usted comparte sus contactos, recopilaremos sus números de teléfonos y otras
                                informaciones de contacto para facilitar el intercambio de archivos y mensajes. Usted
                                puede desactivar o restringir estos recursos en el apartado de Configuración de sus
                                dispositivos.</li>
                        </ul>
                        <h4>Información Sobre su Uso de los Servicios</h4>
                        <p>Además de la información proporcionada directamente por usted, recopilamos información sobre
                            el uso que realiza de nuestros Servicios mediante el software instalado en sus dispositivos
                            y por otros medios. Esta información incluye:</p>
                        <ul>
                            <li><b>Información del dispositivo</b>: el modelo de hardware y información de software del
                                su dispositivo (como el sistema operativo y la versión del software), número IMEI y
                                otros identificadores exclusivos del dispositivo, el MCC (Mobile Country Code – Código
                                de País del Dispositivo Móvil), dirección MAC, dirección IP, IDs únicos del dispositivo,
                                ID de publicidad (por ejemplo, para dispositivos móviles, ID de Publicidad de Google y
                                ID de Android y para dispositivos de pantalla visual de Samsung, incluidos Samsung Smart
                                TV, ID de servicio personalizado ("PSID") e Identificador de Tizen para publicidad
                                ("TIFA"), y Número de serie), número de teléfono, código de ventas, grabación de acceso,
                                cookies, píxeles y tecnologías similares (como se describe a continuación en "Cookies,
                                beacons y tecnologías similares"), información de suscripción y configuraciones de los
                                dispositivos que utiliza para acceder a los servicios.</li>
                            <li><b>Información de log/sesión</b>: información diagnóstica, técnica, de error y de uso,
                                cómo tiempo y duración del uso de los Servicios, Servicios instalados en sus
                                dispositivos, términos de consulta cuando usted introduce términos de búsqueda en el
                                dispositivo conectado a un Servicio específico de Samsung cualquier información
                                almacenada en cookies que colocamos en sus dispositivos y errores reportados y
                                registrados.</li>
                            <li><b>nformación de localización</b>: información sobre puntos de acceso Wi-Fi y torres de
                                celular cercanos, y, con su consentimiento por separado, la señal de GPS de su
                                dispositivo pueden ser transmitidas para nosotros cuando usted usa determinados
                                Servicios. Además, para ciertos Servicios, el código postal y la ubicación inferida
                                utilizando la dirección IP pueden ser transmitidas para nostros cuando usted utiliza
                                tales Servicios.</li>
                            <li><b>Información de voz</b>: las grabaciones de su voz que hacemos y almacenamos en
                                nuestros servidores cuando usted activa esta función y usa mandos de voz para gestionar
                                un Servicio son protegidas por la política de privacidad separada de Bixby. También
                                recopilamos y almacenas las grabaciones cuando usted entra en contacto con nuestro
                                equipo de Atención al Cliente. Por favor, tome en cuenta que, si trabajamos con algún
                                proveedor de servicios de terceros que ofrece servicios de conversión de habla en texto
                                en nuestro nombre, este proveedor podrá recibir y almacenar algunos comandos de voz de
                                acuerdo con el contrato firmado entre nosotros y nuestro proveedor confiable de
                                servicios.</li>
                            <li><b>Información de teclado de Samsung</b>: las palabras digitadas cuando usted activa el
                                texto Inteligente. Se puede ofrecer este recurso en relación con su cuenta Samsung para
                                sincronizar los datos para uso en sus otros dispositivos móviles de Samsung. Usted puede
                                limpiar los datos accediendo las configuraciones de texto Inteligente.</li>
                            <li><b>Informaciones sobre visualización</b>: las redes, canales, sitios visitados y
                                programas vistos en los dispositivos y el tiempo utilizado en estas actividades.</li>
                        </ul>
                        <h4>Fuentes Públicas y Comercialmente Disponibles o Informaciones Compartidas</h4>
                        <p>A veces, obtenemos información de fuentes públicas y comercialmente disponibles, incluyendo
                            información de redes sociales que usted usa, y la combinamos con otro tipo de información
                            sobre usted para entender mejor sus necesidades, intereses y preferencias.</p>
                        <h4>Otra Información Obtenida</h4>
                        <p>También podemos recabar información adicional sobre usted, sus dispositivos o su uso de los
                            Servicios que autorice a enviarnos. En estos casos, obtendremos su consentimiento de acuerdo
                            con la ley aplicable.</p>
                        <h4>Servicios de Analítica de Terceros</h4>
                        <p>Por medio de algunos Servicios, podemos recopilar información personal sobre sus actividades
                            en línea en sitios y dispositivos conectados a lo largo del tiempo y entre sitios,
                            dispositivos, aplicaciones y otros recursos en línea y servicios de terceros. Utilizamos
                            servicios de analítica de terceros en los Servicios, como los de Google Analytics y Adobe
                            Analytics. Los proveedores de servicios que administran estos servicios de análisis nos
                            ayudan a analizar el uso de los Servicios y mejorar nuestros Servicios. La información que
                            obtenemos pueden ser divulgada con estos proveedores o recopilada directamente por ellos y
                            otros terceros relevantes que usan las información, por ejemplo, para evaluar el uso de los
                            Servicios, ayudar a administrar los Servicios y diagnosticar problemas técnicos.</p>
                        <h4>Sus Opciones</h4>
                        <p>Usted puede optar por no querer entregarnos determinado tipo de información, como, por
                            ejemplo, información solicitadas como parte del registro de una cuenta de Samsung. En
                            algunos casos, esto podrá limitar su acceso a algunos Servicios.</p>
                        <p>Por ejemplo, al registrar su cuenta Samsung, usaremos la información de su dispositivo y
                            localización geográfica y usted automáticamente podrá usar el servicio Buscar mi teléfono
                            (Find My Mobile), el cual le permite localizar su dispositivo y proteger sus datos. Si desea
                            desactivar esta opción y no proporcionar a Samsung sus datos para el servicio Buscar mi
                            teléfono, puede desactivarla a través de Configuración > Biometría y seguridad > Buscar mi
                            teléfono (este camino puede ser diferente según la versión del Sistema Operacional (“SO”) de
                            su dispositivo), lo que limitará consecuentemente su capacidad de usar este servicio.</p>
                        <p>Haremos todo lo posible para explicar estas limitaciones cuando le solicitemos información, y
                            así usted pueda tomar una decisión informada.</p>
                        <h3 id="info">¿CÓMO UTILIZAMOS SUS INFORMACIONES?</h3>
                        <h4>Usamos las información que recopilamos para las siguientes finalidades:</h4>
                        <ul>
                            <li>Para ayudarlo a registrarse y registrar su dispositivo en nuestros Servicios.</li>
                            <li>Para ofrecerle un Servicio o recurso solicitado por usted.</li>
                            <li>Para ofrecerle contenido y servicios personalizados con base en sus actividades
                                anteriores en nuestros Servicios.</li>
                            <li>Para proporcionar publicidad, promociones y ofertas personalizados que puedan
                                interesarle en nuestros Servicios, sitios, sitios de terceros y plataformas en línea
                                como sitios de redes sociales (de acuerdo con la normatividad aplicable). Solo le
                                enviaremos publicidad personalizada, promociones y ofertas cuando haya proporcionado su
                                consentimiento para recibir comunicaciones de marketing de Samsung.</li>
                            <li>Para proporcionar promociones y ofertas en forma de comunicaciones de marketing directo
                                (como por ejemplo por medio de correo electrónico, notificaciones push o mensajerías de
                                texto), solo cuando usted ha dado su consentimiento separado para nosotros.</li>
                            <li>Para Operar, evaluar y mejorar nuestro negocio, incluyendo el desarrollo de nuevos
                                productos y servicios y mejoría de nuestros servicios y productos existentes y nuestras
                                comunicaciones, el análisis de nuestros Servicios y nuestra base de clientes (incluida
                                el estudio del mercado, las preguntas sobre su opinión sobre nuestros productos y
                                servicios y encuestas con los clientes, con su consentimiento separado cuando necesario)
                                y agregando y anonimizando datos.</li>
                            <li>Para proporcionarle actualizaciones de software, servicios de mantenimiento y soporte a
                                sus dispositivos.</li>
                            <li>Proporcionarle servicio de atención al cliente cuando sus dispositivos estén en
                                garantía.</li>
                            <li>Para garantizar la seguridad del producto y evitar el fraude cuando sus productos estén
                                sin garantía, recogeremos su IMEI y su número de serie.</li>
                            <li>Para verificar su dispositivo para reparaciones.</li>
                            <li>Para proteger los derechos e intereses, la propiedad o seguridad de Samsung Electronics
                                o de cualquier entidad afiliada, aliada de negocios o cliente de Samsung.</li>
                            <li>Para responder sus solicitudes y consultas, inclusive sobre su información personal.
                            </li>
                            <li>Para proteger, identificar y prevenir fraudes, robos y otras actividades delictivasy
                                otras responsabilidades.</li>
                            <li>Para cumplir y hacer cumplir las obligaciones legalmente aplicables, los estándares
                                relevantes del sector y nuestras políticas, incluyendo la propia Política de Privacidad
                                de Samsung.</li>
                            <li>Para analizar un dispositivo defectuoso que se devuelve a Samsung. Samsung toma medidas
                                para garantizar que todos los dispositivos defectuosos se eliminen de datos personales
                                antes de que se analicen dichos dispositivos.</li>
                        </ul>
                        <p>Podemos usar y combinar la información que recopilamos sobre usted en relación con nuestros
                            Servicios, dispositivos u otras fuentes para brindarle una mejor experiencia. Por ejemplo,
                            usted puede usar los detalles de la cuenta de Samsung no solo para el Servicio al cual usted
                            se registró, como para otros Servicios que usan cuentas de Samsung. También usamos la
                            información proporcionada directamente por usted o por otras fuentes, según lo descrito
                            anteriormente, para brindarle un contenido que le pueda gustar o que usted haya
                            personalizado.</p>
                        <h4>Anuncios no dirigidos</h4>
                        <p>Tenga en cuenta que su opción de privacidad con respecto a los anuncios basados en intereses
                            o personalizados ("anuncios dirigidos") no afectará si recibe o no recibe anuncios
                            genéricos, básicos o contextuales ("anuncios no dirigidos " ) que no se basan
                            específicamente en la información que le describimos para proporcionar anuncios dirigidos
                            para un Servicio en particular.</p>
                        <p>Para los dispositivos móviles, la información que utilizamos para mostrarle anuncios no
                            dirigidos incluye la información de la aplicación aplicable (por ejemplo, paquete de
                            aplicaciones, versión, nombre y dominio), información del dispositivo (por ejemplo, tipo de
                            dispositivo, fabricante, sistema operativo, versión, información de visualización, Proveedor
                            de telecomunicaciones, país y idioma) e identificadores de dispositivos (por ejemplo, IP y
                            ID de publicidad). Compartimos estos datos con socios comerciales de confianza (responsables
                            de tratamiento) y proveedores de servicios de confianza (encargados) para proporcionarle
                            anuncios no dirigidos, sujetos a salvaguardas contractuales apropiadas que estén vigentes.
                            Samsung trata estos datos limitados con base en su interés legítimo para servir anuncios no
                            dirigidos. Estos anuncios pueden ser menos relevantes porque no se basan en sus intereses.
                        </p>
                        <p>Samsung da tratamiento a datos personales para los fines descritos anteriormente. Las bases
                            legales de Samsung para realizar estas actividades incluyen tratamientos:</p>
                        <p>(i) Para que podamos cumplir nuestras obligaciones contractuales con usted, como el
                            suministro de un Servicio.</p>
                        <p>(ii) Para promover nuestros intereses comerciales (por ejemplo, para gestionar nuestras
                            relaciones con usted y mejorar la experiencia de atención al cliente y proporcionar anuncios
                            genéricos), incluyendo comunicaciones en nuestro sitio, sitios de terceros y plataformas en
                            línea.</p>
                        <p>(iii) Para cumplir con la normatividad, el reglamento y los procedimientos judiciales,
                            administrativos o arbitrales aplicables.</p>
                        <p>(iv) Con su consentimiento, por ejemplo, para enviar comunicaciones de marketing directo Si
                            obtengamos su consentimiento, también le explicaremos cómo puede revocarlo de manera tan
                            fácil como en el momento de dar su consentimiento. Alternativamente, puede revocar su
                            consentimiento entrando en contacto con nosotros, siguiendo el procedimiento previsto en la
                            sección PÓNGASE EN CONTACTO CON NOSOTROS de esta Política de Privacidad.</p>
                        <p>Samsung proporcionará avisos de privacidad específicos donde definirá la base legal para
                            procesar sus datos personales de acuerdo con el país de su residencia.</p>
                        <p>Samsung Electronics es el responsable de sus datos personales según lo descrito arriba. Para
                            algunas comunicaciones de marketing directo y algunos anuncios personalizados, nuestras
                            subsidiarias, en sus respectivos países, también son responsables de sus datos personales.
                            Algunas de nuestras subsidiarias también tratan su información personal en sus países.
                            Cuando esto aplica, la subsidiaria de Samsung tiene su propia Política de Privacidad local
                            en su sitio para explicarle como trata su información personal.</p>
                        <h3 id="infocomp">¿CON QUIÉN COMPARTIMOS SUS INFORMACIONES?</h3>
                        <p>Podremos compartir sus información internamente dentro de nuestra empresa, así como, con las
                            siguientes entidades, para los fines descritos anteriormente.</p>
                        <ul>
                            <li><b>Afiliadas</b>: otras empresas del Grupo Samsung Electronics sobre las cuales tenemos
                                control o que son de nuestra propiedad.</li>
                            <li><b>Aliados de Negocios</b>: aliados con los cuales trabajamos para ofrecerle los
                                Servicios solicitados o comprados. Por ejemplo, podremos trabajar con un banco para que
                                usted pueda usar uno de nuestros Servicios para efectuar pagos más rápidos y eficientes.
                                Estos aliados de negocios controlan y gestionan su información personal.</li>
                            <li><b>Proveedores de Servicios</b>: empresas seleccionadas atentamente que suministren
                                servicios para o en nuestro nombre, como empresas que nos ayudan con reparaciones,
                                centros de atención al cliente, publicidad (incluyendo anuncios personalizados en
                                nuestros sitios, sitios de terceros y plataformas en línea), realizando encuestas de
                                satisfacción del cliente y facturación o que envían correo electrónico en nuestro
                                nombre. Estos proveedores también están comprometidos con la protección de su
                                información.</li>
                            <li><b>Otras partes cuando es exigido por ley o según sea necesario para proteger a nuestros
                                    Servicios</b>: por ejemplo, puede ser necesario por ley, actuación en procesos
                                legales o ante una orden judicial compartir su información. Autoridades gubernamentales
                                también podrán solicitarnos su información para fines de cumplimiento de ley, seguridad
                                nacional, combate al terrorismo y otros problemas relacionados a la seguridad pública.
                            </li>
                            <li><b>Otras partes en conexión con transacciones corporativas</b>: podremos divulgar sus
                                información a terceros como parte de una fusión o transferencia, adquisición o venta, o
                                en caso de quiebra.</li>
                            <li><b>Otras partes con su consentimiento o mediante su solicitud</b>: además de los
                                supuestos descritos en esta Política de Privacidad, podemos compartir información sobre
                                usted con terceros cuando usted autoriza o solicita compartir su información de forma
                                independiente.</li>
                        </ul>
                    </section>
                </main>
                <%- include('../includes/end.ejs') %>